/* -----------------------------------------------------------------*/
/*  LAYOUT DISPLAY HELPERS CSS FILE                                 */
/* -----------------------------------------------------------------*/

/******************************************************************************/
/**  LAYOUT DISPLAY ADMIN PANELS                                             **/
/******************************************************************************/
#layout-display-admin-form .vertical-tabs .form-type-textfield input {
  width: auto;
}

#layout-display-admin-form #edit-reset-env-button {
  color: #CC0000;
  margin-top: 1em;
}

#layout-display-admin-form #edit-actions {
  display: inline-block;
  float: left;
}

/******************************************************************************/
/**  LAYOUT DISPLAY CSS                                                     ***/
/******************************************************************************/
#layd-wrapper {
  position: fixed;
  z-index: 1000;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
}

#layd-wrapper:before {
  opacity: 1;
  content: "[No layouts established]";
  position: fixed;
  z-index: 100;
  bottom: 0px;
  left: 0;
  right: 0;
  padding: 8px 15px;
  background-color: rgba(16, 16, 16, 0.92);
  box-shadow: 0px -2px 8px 0 rgba(0, 0, 0, 0.3);
  color: #FF5A5A;
  text-align: center;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  transition: all 0.3s linear 0s;
  webkit-transition: all 0.3s linear 0s;
}

#layd-wrapper.layd-hidden:before {
  opacity: 0;
  transform: translateY(100%)
}

/*  Turn off all displays **/
body.layd-total-off #layd-wrapper {
  display: none;
}

/* Turn off Layout display */
body.layd-total-off #layd-wrapper:before, body.layd-off #layd-wrapper:before {
  display: none;
}

/******************************************************************************/
/**  BOOTSTRAP LAYOUT DISPLAY CSS                                            **/
/******************************************************************************/

/*-------------------------------------------------------------------*/
/*- Large Desktops (LG)                                              */
/*-------------------------------------------------------------------*/
body.layd-boot #layd-wrapper:before {
  content: "[LG] Large Device (1200px to upper)";
  color: #FFFFFF;
  white-space: pre;
}

/*-------------------------------------------------------------------*/
/*- Medium Devices, Small Desktops (MD)                             -*/
/*-------------------------------------------------------------------*/
@media ( max-width : 1199px) {
  body.layd-boot #layd-wrapper:before {
    content: "[MD] Medium Device (992px - 1199px)";
    color: #FFCC00;
  }
}

/*-------------------------------------------------------------------*/
/*- Small Devices, Tablets (SM)                                     -*/
/*-------------------------------------------------------------------*/
@media ( max-width : 991px) {
  body.layd-boot #layd-wrapper:before {
    content: "[SM] Tablet (768px - 991px)";
    color: #0EFF00;
  }
}

/*-------------------------------------------------------------------*/
/*- Extra Small Devices, Phones (XS)                                -*/
/*-------------------------------------------------------------------*/
@media ( max-width : 767px) {
  body.layd-boot #layd-wrapper:before {
    content: "[XS] Mobile Phones (767px to lower)";
    color: #00FFE9;
  }
}

/******************************************************************************/
/**  EXTRA LAYOUT DISPLAY CSS                                               **/
/******************************************************************************/

/*-------------------------------------------------------------------*/
/*- Small Mobile Phones (No bootstrap rule)                         -*/
/*-------------------------------------------------------------------*/
@media ( max-width : 529px) {
  body.layd-xtra #layd-wrapper:before {
    content: "[RT] Retina (529px - 321px)";
    color: #FF7800;
  }
}

/*-------------------------------------------------------------------*/
/*- Tiny Mobile Phones (No bootstrap rule)                         -*/
/*-------------------------------------------------------------------*/
@media ( max-width : 320px) {
  body.layd-xtra #layd-wrapper:before {
    content: "[XXS] Tiny (320px to lower)";
    color: #FF6398;
  }
}

/******************************************************************************/
/** WINDOW MEASURES DISPLAY CSS                                              **/
/******************************************************************************/
#layd-measures-info {
  position: fixed;
  z-index: 98;
  bottom: 42px;
  right: 38px;
  padding: 3px 10px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 0px -2px 8px 0 rgba(0, 0, 0, 0.25);
  color: #FFFFFF;
  border: 0;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
}

body.layd-off #layd-measures-info {
  bottom: 8px;
}

/******************************************************************************/
/**  SITE INFORMATION DISPLAY CSS                                            **/
/******************************************************************************/
#layd-site-info {
  position: fixed;
  z-index: 98;
  bottom: 42px;
  left: 5px;
  padding: 5px 20px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
  background-color: rgba(51, 68, 85, 0.92);
  box-shadow: 0px -2px 8px 0 rgba(0, 0, 0, 0.25);
  color: #FFFFFF;
  border: 2px solid rgba(0, 0, 0, 0.16);
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
}

body.layd-off #layd-site-info {
  bottom: 8px;
}

/******************************************************************************/
/**  ACTION BUTTONS CSS                                                      **/
/******************************************************************************/
#layd-toogle-btn {
  position: fixed;
  bottom: 42px;
  right: 5px;
  height: 24px;
  width: 24px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
  color: #FFFFFF;
  cursor: pointer;
  transition: bottom 0.3s linear 0s;
  webkit-transition: bottom 0.3s linear 0s;
  background: rgba(0, 0, 0, 0.6) url(../img/close.png) no-repeat center center;
}

#layd-toogle-btn:hover {
  background-color: rgba(39, 85, 107, 0.6);
}

#layd-toogle-btn.to-show {
  bottom: 8px;
  background: rgba(0, 0, 0, 0.6) url(../img/open.png) no-repeat center center;
  z-index: 1001;
}

#layd-toogle-btn.to-show:hover {
  background-color: rgba(39, 85, 107, 0.6);
}

body.layd-off #layd-toogle-btn {
  bottom: 8px;
}